body{padding:0;margin:0;background:#ededed;}
body,button,input,select,textarea,table{font:16px/1.8 verdana,tahoma,Arial,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;}

.page{width:700px;margin:0 auto 20px;}
.header{font-size:46px;text-align:center;font-weight:bold;padding-top:40px;color:#ef5141;border:0;}
.header_t{text-align:center;}
.header_t a{color:#ef5141;}
.card{padding:20px;margin-top:30px;background:#FFF;border:1px solid #d1d6db;border-radius:8px;}
.card ol ul{padding:0 0 0 20px;margin:0;}
.card ol li{margin-bottom:10px;}
.card ul li{margin-bottom:0;}
.card h1.title{font-size:20px;margin:0;}
.card .tips{padding:10px;border:2px dashed #ccc;margin:1em 0 1em;}
.card button{display:block;background:#ef5141;color:#fff;border:0;padding:0 8px;border-radius:4px;cursor:pointer;vertical-align:middle;margin: 1em 0 1em;}

.custom_style{padding:10px;border-radius:8px;margin:0 auto;background:#fff;color:#000;border:1px solid #d1d6db;
    -webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
}
.custom_style button{display:inline-block;margin:0 4px;background:#ef5141;color:#fff;border:0;padding:0 8px;border-radius:4px;cursor:pointer;vertical-align:middle;}
.custom_style .content{height:300px;line-height:300px;text-align:center;background:#ccc;margin:10px 0;}

@media (max-width: 500px) {
    .page{width:300px;}
}