.artModal-open{overflow:hidden;}
.artModal{display:none;position:fixed;top:0;right:0;bottom:0;left:0;overflow-x:hidden;overflow-y:auto;z-index:2050;
    _position:absolute; _top:expression(documentElement.scrollTop);
}
.artModal .artModal-dialog{position:relative;margin:30px auto;width:300px;}
.artModal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2040;background-color:#000000;opacity:0.15;
    _position:absolute; _top:expression(documentElement.scrollTop);
}

