.artModal-open{overflow:hidden;}
.artModal{display:none;position:fixed;top:0;right:0;bottom:0;left:0;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);
    _position:absolute;_top:expression(documentElement.scrollTop);_width:expression(documentElement.clientWidth);_height:expression(documentElement.clientHeight);
}
.artModal .artModal-dialog{position:relative;margin:0 auto;}
.artModal .artModal-dialog .artModal-content{position:relative;width:300px;margin:0 auto;}
.fade{opacity:0;
    -webkit-transition:opacity 0.15s linear;
    -o-transition:opacity 0.15s linear;
    transition:opacity 0.15s linear;
}
.fade.in{opacity:1;}
.artModal.fade .artModal-dialog {
    -webkit-transform:translate(0, -25%);
    -ms-transform:translate(0, -25%);
    -o-transform:translate(0, -25%);
    transform:translate(0, -25%);
    -webkit-transition:-webkit-transform 0.3s ease-out;
    -o-transition:-o-transform 0.3s ease-out;
    transition:transform 0.3s ease-out;
}
.artModal.in .artModal-dialog {
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0);
}
.artModal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000000;opacity:0.5;filter:alpha(opacity=50);-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);
    _position:absolute;_top:expression(documentElement.scrollTop);_width:expression(documentElement.clientWidth);_height:expression(documentElement.clientHeight);
}
.artModal-backdrop.fade{opacity:0;filter:alpha(opacity=0);}
.artModal-backdrop.in{opacity:0.5 !important;filter:alpha(opacity=50);}